<launch>

    <arg name="host" default="192.168.3.100" />

    <node pkg="omron_os32c_driver" type="omron_os32c_node" name="omron_os32c_node">
        <param name="host" value="$(arg host)" />
        <param name="frame_id" value="laser" />
        <param name="start_angle" value="2.2899" />
        <param name="end_angle" value="-2.2899" />
    </node>

    <node pkg = "tf" type="static_transform_publisher" name ="bl_2_laser" args="0.0 0.0 1.0 0.0 0.0 3.14159265 base_link laser 10"/>

<!--     
    <node name="map_server" pkg="map_server" type="map_server" args="$(find omron_os32c_driver)/maps/street.yaml"/> 

    <include file = "$(find omron_os32c_driver)/launch/amcl_os32c.launch">
        <arg name="initial_pose_x" default="0.0"/>
        <arg name="initial_pose_y" default="0.0"/>
        <arg name="initial_pose_a" default="0.0"/>
    </include> -->

    <node name ='rviz' type="rviz" pkg = "rviz" args= " -d $(find omron_os32c_driver)/rviz/omron_main_localization.rviz"/> 


    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        <param name="fixed_frame" value = "odom"/>
        <param name="use_alpha_beta" value="true"/>
        <param name="max_iterations" value="10"/>
        <remap from="scan" to="scan"/>
    </node>

</launch>